<div class="flex flex-row flex-wrap md:gap-4 items-start md:items-center justify-start md:justify-between max-md:divide-y divide-foreground border-b border-foreground mx-3 mb-6">
    <div id="logo" class="max-md:w-full md:grow py-2">
        <a href="/" class="font-semibold font-expanded decoration-0">{{ site.Title }}</a>
    </div>
    <div id="menu" class="max-md:w-full flex flex-row items-center gap-4 justify-start md:justify-end py-2">
        <a href="/noticeboard" class="decoration-0">Noticeboard</a>
        <a href="/anthologies" class="decoration-0">Anthologies</a>
    </div>
</div>
