<div class="w-full flex flex-row flex-wrap gap-2 items-start">
    {{ $notices := .notices }}

    {{ if not $notices }}
        {{ $notices = .context.RegularPages.ByDate.Reverse }}
    {{ end }}

    {{ range $notices }}
        <div class="border border-foreground bg-offset w-full lg:w-[calc(50%-calc(var(--spacer)))]">
            {{ with .Resources.GetMatch .Params.cover }}
            <div class="aspect-4/3">
              <img
                src="{{ .RelPermalink }}"
                alt="{{ $.Title }}"
                class="w-full h-full object-cover">
            </div>
            {{ end }}
            <div class="p-1.5">
                <h2 class="text-lg font-medium mb-0.25!">
                    {{ .Title }}
                </h2>
                {{ with .Params.subtitle }}
                    <h3 class="text-lg font-normal! text-foreground/40 mb-0.5!">{{ . }}</h3>
                {{ end }}

                <div class="block w-3 border-t border-foreground my-2"></div>

                {{ $page := . }}
                {{ with .Params.authors }}
                    <p class="mb-1!">
                        {{ partial "authors.html" . }} {{ with $page.Date }}<span class="text-foreground/50">– {{ .Format "2 January 2006" }}</span>{{ end }}
                    </p>
                {{ end }}

                <div class="prose">
                    {{ .Summary | plainify }}
                </div>

                {{ $u := urls.Parse .Params.external_link }}
                <div class="flex flex-row flex-wrap gap-x-1.5 gap-y-1 mt-2">
                    <a href="{{ .RelPermalink }}" class="button">More</a>
                    <a href="{{ .Params.external_link }}" class="button">View on {{ strings.TrimPrefix "www." $u.Host }}</a>
                </div>
            </div>
        </div>
    {{ end }}
</div>
